body {
    color: #000;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f9d58;
    height: 64px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    transition: all 0.5s ease-in-out;
    z-index: 2;
    color: white;
}

#header:hover {
    background-color: black;
}

#sidebar {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 23em;
    margin: 0;
    padding: 0;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
}

.community_image {
    width: 100%;
    max-height: 13em;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: 0 0;
}

#sidebar_contents {
    margin: 0;
    padding: 0 1em;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 500;
}

#header h1 {
    display: block;
    line-height: 64px;
    padding: 0 1em;
    margin: 0;
}

.description {
    color: rgba(0,0,0,0.54);
}

#page {
    margin: 64px 0 0 23em;
    padding: 0;
}

.column {
    width: 512px;
    margin: 0 auto;
    padding: 1em 0 0 0;
}

.post {
    color: #000;
    background-color: #fff;
    margin: 0 auto 1em auto;
    padding: 0 0 3em 0;
    text-align: justify;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
}

.post_header, .comment_header {
    font-weight: bold;
    padding: 1em;
    padding-bottom: 0;
    max-width: 100%;
    display: flex;
}

.avatar {
    width: 36px;
    height: 36px;
    align-self: center;
    display: block;
    border-radius: 50%;
}

.author {
    align-self: center;
    margin-left: 0.5em;
}

.category {
    color: #0f9d58;
    align-self: center;
    margin-left: 0.5em;
}

.date {
    color: lightgrey;
    align-self: center;
    margin-left: auto;
}

.post_image, .comment_image {
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 0;
}

.post p, .comment p {
    padding: 1em;
    margin: 0;
}

a {
    color: #2962ff;
    background-color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
   display: block;
   margin: 0 1em;
   font-weight: 500;
   text-transform: uppercase;
   transition: all 0.2s ease-in-out;
   line-height: 3em;
}

.comments_button {
   float: right;
   text-align: right;
}

.button:hover, a p {
    text-decoration: none;
    color: black;
}
