<!DOCTYPE html>
<html>
<head>
    <title>{{ account["name"] }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="theme/style.css" type="text/css" media="all" />
</head>
<body>
    {% include "header.html" %}
    <div id="sidebar">
        {% if "image" in account %}
            <img class="community_image" src="{{ account['image']|imgPath }}" />
        {% endif %}
        <div id="sidebar_contents">
            <h1>{{ account["name"] }}</h1>
            <p class="description">{{ account["tagline"] }}</p>
        </div>
    </div>
    <div id="page">
        <div class="column">
            {% for post in account["posts"] %}
                {% if post['isPublic'] %}
                    <div class="post">
                        {% include "post_contents.html" %}
                        <a class="button comments_button" href="{{ post['id'] }}.html">Read comments →</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
