<!DOCTYPE html>
<html>
<head>
    <title>{{ collection["name"] }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="theme/style.css" type="text/css" media="all" />
</head>
<body>
    {% include "header.html" %}
    <div id="sidebar">
        {% if "image" in collection %}
            <img class="community_image" src="{{ collection['image']|imgPath }}" />
        {% endif %}
        <div id="sidebar_contents">
            <h1>{{ collection["name"] }}</h1>
            <p class="description">{{ collection["tagline"] }}</p>
        </div>
    </div>
    <div id="page">
        <div class="column">
            {% for post in collection["posts"] %}
                <div class="post">
                    {% include "post_contents.html" %}
                    <a class="button comments_button" href="{{ post['id'] }}.html">Read comments →</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
