<!DOCTYPE html>
<html>
<head>
    <title>Whidou's G+ Archive</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="theme/style.css" type="text/css" media="all" />
</head>
<body>
    {% include "header.html" %}
    <div id="sidebar">
        <img class="community_image" src="" />
        <div id="sidebar_contents">
            <h1>Archive index</h1>
            <p class="description">This is a curated archive of the defunct Google+ social network. If you appear in it and would like to have your name removed, please send an email at <em>complaints AT whidou DOT com</em>.</p>
        </div>
    </div>
    <div id="page">
        <div class="column">
            {% for account in accounts %}
                <div class="post">
                    <div class="post_header">
                        <img class="avatar" src="{{ account['image']|imgPath }}" />
                        <div class="author"/>{{ account["name"] }}</div>
                    </div>
                    <a class="button comments_button" href="{{ account['id'] }}.html">See account →</a>
                </div>
            {% endfor %}
            {% for community in communities %}
                <div class="post">
                    <div class="post_header">
                        <img class="avatar" src="{{ community['image']|imgPath }}" />
                        <div class="author"/>{{ community["name"] }}</div>
                    </div>
                    <p>{{ community["tagline"] }}</p>
                    <a class="button comments_button" href="{{ community['id'] }}.html">See community →</a>
                </div>
            {% endfor %}
            {% for collection in collections %}
                <div class="post">
                    <div class="post_header">
                        <img class="avatar" src="{{ collection['image']|imgPath }}" />
                        <div class="author"/>{{ collection["name"] }}</div>
                    </div>
                    <p>{{ collection["tagline"] }}</p>
                    <a class="button comments_button" href="{{ collection['id'] }}.html">See collection →</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
