<p>
	{% for element in message %}
		{% if element[0] == 1 %}
			<br />
		{% elif element[0] == 2 %}
			{% if element[1]|userContent %}
				<img class="comment_image" src="{{ element[1]|imgPath }}" />
			{% else %}
				<a href="{{ element[2] }}">{{ element[1] }}</a>
			{% endif %}
		{% elif element[0] == 3 %}
			<a href="{{ element[2] }}.html">+{{ element[1] }}</a>
		{% elif element[0] == 4 %}
			<a href="#">+{{ element[1] }}</a>
		{% else %}
			{% set end = "" %}
			{% if element|length > 2 %}
				{% if element[2]["bold"] == True %}
					<strong>
					{% set end = "</strong>" ~ end %}
				{% endif %}
				{% if element[2]["italic"] == True %}
					<em>
					{% set end = "</em>" ~ end %}
				{% endif %}
			{% endif %}
			{{ element[1] ~ end }}
		{% endif %}
	{% endfor %}
</p>
