<div class="post_header">
    <img class="avatar" src="{{ post['author']['image']|imgPath }}" />
    <div class="author"/>{{ post['author']['name'] }}</div>
{% if "category" in post %}
    <div class="category"/>&#9654;&nbsp;{{ post['category']['name'] }}</div>
{% endif %}
    <div class="date"/>{{ post['createdAt'] }}</div>
</div>
{% set message = post["message"] %}
{% include "message.html" %}
{% if "image" in post %}
    <img class="post_image" src="{{ post['image']['proxy']|imgPath }}" />
{% endif %}
{% if "video" in post %}
    <a class="button" href="{{ post['video']['proxy']|imgPath }}">Download video</a>
{% endif %}
{% if "images" in post %}
    {% for image in post["images"] %}
        <img class="post_image" src="{{ image['proxy']|imgPath }}" />
    {% endfor %}
{% endif %}
{% if "link" in post %}
    {% if "image" in post['link'] %}
        <a href="{{ post['link']['url'] }}">
            <img class="post_image" src="{{ post['link']['image']['url'] }}" />
        </a>
    {% endif %}
    <a class="button" href="{{ post['link']['url'] }}">{{ post['link']['title'] }}</a>
    <p>{{ post['link']['description'] }}</p>
{% endif %}
