<!DOCTYPE html>
<html>
<head>
    <title>{{ parent["name"] }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="theme/style.css" type="text/css" media="all" />
</head>
<body>
    <div id="header">
    </div>
    <div id="sidebar">
        <a href="{{ parent['id'] }}.html">
            {% if "image" in parent %}
                <img class="community_image" src="{{ parent['image']|imgPath }}" />
            {% endif %}
            <div id="sidebar_contents">
                <h1>{{ parent["name"] }}</h1>
                <p class="description">{{ parent["tagline"] }}</p>
            </div>
        </a>
    </div>
    <div id="page">
        <div class="column">
            <div class="post">
		{% include "post_contents.html" %}
                {% for comment in post["comments"] %}
                    <div class="comment">
                        <div class="comment_header">
                            <img class="avatar" src="{{ comment['author']['image']|imgPath }}" />
                            <div class="author"/>{{ comment['author']['name'] }}</div>
                            <div class="date"/>{{ post['createdAt'] }}</div>
                        </div>
                        {% set message = comment["message"] %}
                        {% include "message.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
